./medicine-middleware/.env
./medicine-middleware/docker
./medicine-middleware/.idea
./medicine-middleware/node_modules
./medicine-middleware/test

medicine-mobile/node_modules
medicine-mobile/.angular
medicine-mobile/.idea
medicine-mobile/.vscode
medicine-mobile/ios
medicine-mobile/node_modules